@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Handjet", cursive;

  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.title__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}
.title__img {
  margin-top: 30px;
  height: 7em;
  cursor: pointer;
}

.input__search{
  margin-top: 20px;
  padding:10px;
  border-radius: 20px;
  border: none;
}
.pokemon__container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 800px;
}

.pokemon__img {
  height: 7em;
  margin: 10px 0px;
}

.pokemon__id {
  padding: 10px;
  border-radius: 20px;
  background-color: #ffffff;
  font-weight: 700;
  margin: 10px 0px;
}

.pokemon__type {
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  font-weight: 700;
}

.pokemon__content--fire {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(253, 223, 223);
  padding: 20px;
}
.pokemon__content--water {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(222, 243, 253);
  padding: 20px;
}

.pokemon__content--grass {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(222, 253, 224);
  padding: 20px;
}

.pokemon__content--bug {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(248, 213, 163);
  padding: 20px;
}

.pokemon__content--normal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(245, 245, 245);
  padding: 20px;
}

.pokemon__content--flying {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(139, 238, 255);
  padding: 20px;
}

.pokemon__content--poison {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(152, 215, 165);
  padding: 20px;
}

.pokemon__content--ice {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(194, 246, 255);
  padding: 20px;
}

.pokemon__content--electric {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(252, 247, 222);
  padding: 20px;
}

.pokemon__content--ground {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(244, 231, 218);
  padding: 20px;
}

.pokemon__content--psychic {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(152, 215, 165);
  padding: 20px;
}

.pokemon__content--fairy {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(252, 234, 255);
  padding: 20px;
}

.pokemon__content--fighting {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(230, 224, 212);
  padding: 20px;
}

.pokemon__content--rock {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(213, 213, 212);
  padding: 20px;
}

.pokemon__content--ghost {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(205, 231, 255);
  padding: 20px;
}

.pokemon__content--dragon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(151, 179, 230);
  padding: 20px;
}

.pokemon__content--dark {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgba(63, 66, 72, 0.62);
  padding: 20px;
}

.pokemon__content--steel {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(211, 220, 236);
  padding: 20px;
}

.loader__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  gap: 20px;
}

.loading__text{
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: white;
  position: relative;
  box-shadow: -20px 0 rgba(0, 0, 0, 0.1) inset;
  animation: roll 2s ease-in-out infinite;
  background: linear-gradient(
    to bottom,
    #e83e35 0%,
    #e83e35 50.5%,
    #ffffff 50.51%,
    #ffffff 100%
  );
}

.ball:after {
  content: "";
  position: absolute;
  top: calc(100px - 3px);
  left: 0;
  width: 200px;
  height: 6px;
  background: #3f3f3f;
}

.ball:before {
  content: "";
  position: absolute;
  top: 67px;
  left: 67px;
  width: 54px;
  height: 54px;
  border: solid 6px #3f3f3f;
  border-radius: 50%;
  background: white;
  z-index: 1;
  box-shadow: 0 0 15px -2px #c62828 inset;
  animation: button 3s ease infinite;
}

@-webkit-keyframes roll {
  from {
    transform: rotate(0);
  }
  90%,
  to {
    transform: rotate(720deg);
  }
}

@-webkit-keyframes button {
  from,
  50%,
  to {
    box-shadow: 0 0 15px -2px #c62828 inset;
  }

  25%,
  75% {
    box-shadow: 0 0 10px -2px #1300ea inset;
  }
}

.pagination__container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px 0px;
}

.pagination__btn {
  padding: 20px;
  border-radius: 100%;
  text-decoration: none;
  border: 2px solid rgb(255, 0, 0);
  background-color: white;
  font-weight: 700;
  font-size: 20px;
  font-family: "Handjet", cursive;
  transition: 700ms;
  cursor: pointer;
}

.pagination__btn:hover {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 0, 0);
  color: white;
  animation: 2s ease-in-out;
}

.pokemon__error{
  display: flex;
  justify-content:center;
  font-size: 3rem;
  font-weight: 700;
}